# pandas_assignment

### 1(a) : Creating and Printing DataFrame

This step loads a tiny dataset into a DataFrame and prints the first five rows via .head(). It serves to check whether data has been loaded properly and provides a rough idea of how its structure looks.

In [59]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}
df = pd.DataFrame(data)
print(df.head())

      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

### 1(b) : Provide summary statistics of 'Age' and 'Salary'
Applying the.describe() function, you determine statistical measures such as mean, min, max, and standard deviation for columns 'Age' and 'Salary'. This provides insights into numeric data range and distribution.

In [61]:
print(df[['Age', 'Salary']].describe())

             Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

### 1(c) : Compute the average compensation of workers in the HR department
Here, we are filtering the DataFrame for rows where Department is 'HR' and then taking the mean of their salaries. This is helpful for seeing department-specific compensation trends.

In [63]:
print("Avg HR Salary:", df[df['Department'] == 'HR']['Salary'].mean())

Avg HR Salary: 46000.0

### 2 : Insert a new column 'Bonus' as 10% of the salary
A new column is created by multiplying the 'Salary' column by 0.10. This illustrates how you can create new data fields based on existing columns and how you can do vectorized operations in Pandas.

In [65]:
df['Bonus'] = df['Salary'] * 0.10

### 3 : Filter the DataFrame to display employees between the ages of 25 and 30
This section filters the DataFrame based on a condition where it checks whether the 'Age' lies between 25 and 30. It assists in pulling out meaningful subsets of data based on certain criteria.

In [67]:
filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print(filtered_df)

  Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

### 4 : Group data by 'Department' and find average salary
With.groupby(), the data is partitioned by the 'Department' column, and the mean salary for each partition is calculated. This function comes in handy for summarizing data by categories.

In [69]:
print(df.groupby('Department')['Salary'].mean())

Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

### 5 : Sort the DataFrame in ascending order by 'Salary' and export to CSV
The DataFrame is sorted in ascending order on the 'Salary' column by using.sort_values(). Next, the data that has been sorted is written into a CSV file, illustrating how results from analysis can be exported.

In [71]:
sorted_df = df.sort_values(by='Salary')
sorted_df.to_csv('sorted_employees.csv', index=False)